<!DOCTYPE html>
<html>
	<head xmlns:th="http://www.thymeleaf.org">
		<meta charset="UTF-8">
		<meta lang="en">
		<title>employeeManagement - list of employees</title>
	</head>
	<body>
		<h3>User: <span th:text="${user.name}"></span> </h3>
		<p>Password: <span th:text="${user.password}"></span> </p>
		<h1>List of employees</h1>
		<table border=1>
			<thead>
				<tr>
					<th> ID <th> Surname <th> Name <th> Position <th> Salary <th> Modify <th> Delete Entry
				</tr>
			</thead>
			<tbody>
				<tr>
					<!-- span th:if="${employees.empty}"> <td colspan="3">Employee list not available</td> </span --> <!-- lambdes vàlides a partir del thymeleave 3.0 -->
					<span th:if="${#lists.isEmpty(employees)}"> <td colspan="3">Employee list not available</td> </span>
				</tr>
				<tr th:each="employee:${employees}">
					<td> <span th:text="${employee.id}"> </span> </td>
					<td> <span th:text="${employee.surname}"> </span> </td>
					<td> <span th:text="${employee.name}"> </span> </td>
					<td> <span th:text="${employee.position}"> </span> </td>
					<td> <span th:text="${employee.salary}"> </span> </td>
					<td> <a th:href="@{/modify/} + ${employee.id}"> modify </a> </td>
					<td> <a th:href="@{/delete/} + ${employee.id}"> delete </a> </td>
				</tr>
			</tbody>
		</table>
		<form th:action="${action}" th:object="${employee}" method="post">
			<br>
			Name: <input type="text" name="name" th:value="${employee?.name}">
			Surname: <input type="text" name="surname" th:value="${employee?.surname}">
			<br><br>
			Position: 
				<select th:field="*{position}">
					<option th:each="position :${T(com.domain.Position).values()}"
						th:value="${position}"
						th:text="${position.name}">
					</option>
				</select>
			<input type="submit" name="submit" th:value="${boton}">
		</form>
	</body>
</html>